.nav {
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px;
    grid-area: n;
    background-color:  #3f51b2;
    padding-left: 30px;
    padding-top: 40px;
    color: white;
    height: 330px;
}

.nav a {
    transition: .2s linear;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 25% 75%;
    align-items: center;
}
.nav a:hover {
    color: black;
}

.nav a.active {
    color: black;
}